<div class="todo-item">
    <a class="done-todo  material-symbols-outlined <%=(data.done==1)?'disabled':''%> " href="/set_as_done/<%=data.id%>">
      check
      
      <span><%= data.doneAt %></span>

    </a>
    <div>
      <span class="priority" level="<%=data.priority%>"></span>
      <h3> <%=data.name%> </h3>
      <a class="edit-todo material-symbols-outlined" href="/edit/<%=data.id%>">
        edit
      </a>
      <span class="description">
        <%=data.description%> 
      </span>
    </div>
  </div>