<div class="todo-item">
    <button class="done-todo  material-symbols-outlined" <%= data.done == true ? 'disabled' : '' %>>
      check
      
      <span><%= data.doneAt %></span>

    </button>
    <div>
      <span class="priority" level="<%=data.priority%>"></span>
      <h3> <%=data.name%> </h3>
      <button class="edit-todo material-symbols-outlined">
        edit
      </button>
      <span class="description">
        <%=data.description%> 
      </span>
    </div>
  </div>